---
import '../styles/global.css';

const pageTitle = "Blog"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/about/">About</a>
    <h1>{pageTitle}</h1>
        <p>This is a blog page. Below is a list of posts.</p>
        <ul>
            <li><a href="/posts/liturgy-for-a-bike-ride/">Liturgy for a Bike Ride</a></li>
            <li><a href="/posts/for-a-long-ride/">For a Long Ride</a></li>
            <li><a href="/posts/for-a-mechanical/">For a Mechanical</a></li>
            <li><a href="/posts/for-commuting-by-bike/">For Commuting by Bike</a></li>
            <li><a href="/posts/for-those-stuck-in-traffic/">For Those Stuck in Traffic</a></li>
  </body>
</html>
